<!doctype html >
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="card">
			<h1 class="text-center text-info">Add Contact</h1>
			<div class="row">
				<div class="col-11 m-auto">
					<form action="#" method="post" th:object="${contact}"
						enctype="multipart/form-data" th:action="@{/user/contact-process}"
						class="mt-3">

						<!--  First name -->
						<div class="input-group my-3">
							<div class="input-group-prepend">
								<div class="input-group-text ">+</div>
							</div>
							<input type="text" required id="firstName" name="name"
								placeholder="Enter Your First Name" class="form-control" />
						</div>
						<!--  Second name -->
						<div class="input-group my-3">
							<div class="input-group-prepend">
								<div class="input-group-text ">&</div>
							</div>
							<input type="text" required id="secondName" name="secondName"
								placeholder="Enter Your Second Name" class="form-control" />
						</div>
						<!--  phone -->
						<div class="input-group my-3">
							<div class="input-group-prepend">
								<div class="input-group-text ">+91</div>
							</div>
							<input type="number" required id="phone" name="phone"
								placeholder="Enter Your phone Number" class="form-control" />
						</div>
						<!--  email -->
						<div class="input-group my-3">
							<div class="input-group-prepend">
								<div class="input-group-text ">@</div>
							</div>
							<input type="email" required id="email" name="email"
								placeholder="Enter Your email id" class="form-control" />
						</div>
						<!--  work -->
						<div class="input-group my-3">
							<div class="input-group-prepend">
								<div class="input-group-text ">$</div>
							</div>
							<input type="text" required id="work" name="work"
								placeholder="Enter Your work Name" class="form-control" />
						</div>
						<!-- description -->
						<div class="form-group my-3">
							<textarea required class="form-control"
								placeholder="Enter description" id="desc" name="description"
								rows="8"></textarea>
						</div>
						<div class="custom-file my-3">
							<input type="file" required name="profileimage" />
						</div>
						<div class="container text-center">
							<button class="btn btn-primary" type="submit">submit</button>
						</div>
					</form>

				</div>
			</div>

		</div>
		<!-- <script
			src="https://cdn.tiny.cloud/1/nswb0m9jybjkv6zgssj6n3f2sxnve9oa9zti316d8iew6dy8/tinymce/6/tinymce.min.js"
			referrerpolicy="origin">
		</script>
		<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });
  </script> -->
	</section>
</body>
</html>